
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: rgb(249,249,249);
}

.container {
	margin-top: 40px;
	margin-bottom: 40px;
	flex: 1;
}

.footertexto {
	flex-shrink: 0;
	width: 100%;
	background-color: #d1d1d1;
	color: black;
	font-size: 12.5px;
	margin-bottom: -5px;
	padding: 20px;
}

.my-nav {
	padding-left: 0;
	padding-right: 0;
	background-color: #d1d1d1;
}

.my-nav h4 {
	padding-top: 10px;
	color: #952427;
}

#foto_alterar {
	width: 330px;
	height: 210px;
}

#foto_perfil {
	width: 200px;
	height: 200px;
}

.vertical-line {
	border-left: 1px solid #DDD;
}

.ast {
	color: #952427;
}

#listItem {
	color: #952427;
}

#listItem:hover {
	background-color: #DDD;
}

/* Teste */
.nav-link {
	color: #952427;
	font-size: 17px;
	margin-top: 10px;
	padding-bottom: 0px;
	padding-top: 0px;
	padding-right: 10px;
	padding-left: 10px;
}

.nav-link:hover {
	color:#5A6268;
	border-color: #952427;
}

.nav-link-custom {
	margin-right: 15px;
	border-left: 1px solid #952427;
}

.btn-novo {
	width: 100px;
}

.dropdown-item:hover {
	background-color: #d1d1d1;
	color: #952427;
}