/* Home e Busca */

.container-img-home {
	width: 360px;
	height: auto;
	overflow: hidden;
}

.container-img-home img {
	width: 100%;
}

.card-block-home {
	margin-top: 10px;
}

.btn-home {
	float: right;
	margin-bottom: 10px;
	margin-right: 10px;
}

.p-home {
	text-align: justify;
	margin-right: 10px;
	height: 95px;
	overflow: hidden;
}

.h4-home {
	font-size: 20px;
}

nav .h4-home {
	color: red;
}

@media (max-width: 1140px) {
	.container-img-home {
		margin: 0px auto;
	}
}

/* Professor */

.container-img-prof {
	width: 200px;
	height: auto;
	overflow: hidden;
}

.container-img-prof img {
	width: 100%;
}

.card-block-prof {
	margin-top: 10px;
}

.p-prof {
	text-align: justify;
	margin-right: 10px;
	height: 96px;
	overflow: hidden;
}

.btn-prof {
	float: right;
	margin-bottom: 10px;
	margin-right: 10px;	
}

/* Áreas */

.container-img-area {
	width: 360px;
	height: auto;
	overflow: hidden;
}

.container-img-area img {
	width: 100%;
}

.card-block-area {
	margin-top: 10px;
}

.btn-area {
	display: flex;
	justify-content: end;
	align-content: flex-end; /* Arrumar isso */
	margin-bottom: 10px;
	margin-right: 10px;
}

.p-area {
	text-align: justify;
	margin-right: 10px;
	height: 122px;
	overflow: hidden;
}

/* .h4-area {
	font-size: 20px;
}

nav .h4-area {
	color: red;
} */

@media (max-width: 1140px) {
	.container-img-area {
		margin: 0px auto;
	}
}

/* Projeto */

.card-proj {
	margin: 20px;
	padding: 10px;
}

.card-img {
	width: 380px;
	height: 210px;
}

.card-block-proj {
	margin-top: 20px;
}

.text-justify {
	white-space: pre-line !important;
}

.bloco {
	margin-bottom: 10px;
}

a:link {
	text-decoration: none;
}

h3 {
	margin-top: 10px;
}

/* Ano */
.card {
	border-color: #ddd !important;
}
.h1-ano {
	color: #952427;
}

/* Topnav */

.topnav {
	overflow: hidden;
	background-color: #ddd;
  }

.topnav a {
	float: left;
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.nav-link {
	color: black;
}

.topnav a:hover {
	background-color: #ccc;
	color: black;
}

.active {
	background-color: #952427;
	color: white;
}
  
.topnav .search-container {
	float: right;
}
  
.topnav input[type=text] {
	padding: 6px;
	margin-top: 8px;
	font-size: 17px;
	border: none;
}
  
.topnav .search-container button {
	float: right;
	padding: 6px 10px;
	margin-top: 8px;
	margin-right: 16px;
	background: #ddd;
	font-size: 17px;
	border: none;
	cursor: pointer;
}
  
.topnav .search-container button:hover {
	background: #ccc;
}

.p-buscar {
	text-align: justify;
	margin-right: 10px;
}

.card-custom {
	padding: 10px;
}

.card-custom center {
	margin-bottom: 10px;
}

.label-align {
	display: flex;
	flex-wrap: wrap;
}